@charset "utf-8";
/* CSS Document */


/* 初期化
/////////////////////////////////////////*/

body {
	background-color: #ffffff;	
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 1.0em;
	line-height: 1.0;
	color: #333;
}

img {
	vertical-align: text-bottom;
}

a:link {
	color: #333;
}
a:visited {
	color: #333;
}
a:hover {
	color: #42a642;
	text-decoration: none;
}


/* ラッパー
/////////////////////////////////////////*/
#wrapper {
	width: 960px;
	margin: 0 auto;
	border-left: 5px solid #42a642;
	border-right: 5px solid #42a642;
}



/* ヘッダー
/////////////////////////////////////////*/
#header {
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}

#explanation {
	font-size: 0.75em;
	padding-bottom: 10px;
}

#headerLeft {
	float: left;
	width: 721px;
}

#headerLeft ul {
	overflow: hidden;
}

#headerLeft li {
	float: left;
	padding-right: 18px;
}

#tel {
	float: right;
	padding-right: 20px;
}

/* ロゴ */
.top h1 {
	float: left;
	padding-right: 50px;	
}

#logo {
	float: left;
	padding-right: 50px;	
}



/* グローバルナビゲーション
/////////////////////////////////////////*/
#nav {
	overflow: hidden;
	background: url(../img/bg_nav.png) left top no-repeat;
}

#nav li {
	float: left;
}


/* グローバルナビゲーション
/////////////////////////////////////////*/
#pankuzu {
	font-size: 0.6875em;
	line-height: 20px;
	height: 20px;
}

#pankuzu ul {
	overflow: hidden;
	padding-left: 15px;	
}

#pankuzu li {
	float: left;	
}


/* コンテンツ
/////////////////////////////////////////*/
#contents {
	padding-left: 10px;
	padding-right: 20px;
	margin-top: 20px;
	overflow: hidden;
}

.lower #contents {
	margin-top: 0px;	
}



/* メイン
/////////////////////////////////////////*/
#main {
	float: right;
	overflow: hidden;
	width: 690px;
}


/* サイド
/////////////////////////////////////////*/
#side {
	font-size: 0.75em;
	float: left;
}

#side dl {
	width: 200px;
	border: 5px solid #eaeaea;
	margin-bottom: 20px;
}

#side dt {
	padding-top: 10px;	
}

#side dd {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 15px;
	line-height: 1.6;
}

#accessInform {
}

#accessInform a {
	background: url(../img/bg_side_access.png) left center no-repeat;
	padding-left: 14px;
}

#accessInform p + p{
	padding-top: 20px;	
}

#creditcard {
}

#creditcard dd {
	letter-spacing: -0.1em;	
}

#creditcard ul {
	overflow: hidden;	
}

#creditcard li {
	float: left;
	padding-top: 10px;
	padding-right: 10px;
}


/* フッター
/////////////////////////////////////////*/
#footer {
	font-size: 0.875em;
	padding-top: 50px;
	padding-bottom: 50px;
}

#footer ul {
	text-align: center;
	padding-bottom: 25px;
}

#footer li {
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
	border-right: 1px solid #333333;
}

#footer li.last {
	border: none;	
}

#backToTop {
	text-align: right;
	padding-right: 25px;	
}

#backToTop a {
	background: url(../img/img_backtotop_hover.png) right top no-repeat;
	display: inline-block;
	width: 141px;
	height: 30px;	
}

#footerInner {
	border-top: 5px solid #42a642;
	padding-top: 20px;
	overflow: hidden;
}

#footerInner p {
	padding-left: 20px;
	float: left;
}

#googleMap a {
	background: url(../img/img_googlemap_hover.png) left top no-repeat;
	display: inline-block;
	width: 102px;
	height: 37px;	
}

#footerInner #footerTel {
	float: right;
	padding-right: 20px;
}

#footer a:hover img {
	opacity:0;
	filter:alpha(opacity=0);
	-ms-filter: "alpha( opacity=0 )";	
}

address {
	text-align: center;
	padding-top: 20px;
}